
<div class="container">
    <br /><br /><br /><br /><br />
    <div style="margin-left:auto; margin-right:auto">
        <h1 class="display-1">@ViewBag.num</h1>
        <br />
        <h1 class="display-4">@ViewBag.mens</h1>
    </div>
</div>