@model IEnumerable<RIUPP.Models.Ficheiro>
@{
    ViewData["Title"] = "Home Page";
}

<!--==========================
     Hero Section
   ============================-->
<section id="hero">
    <div class="hero-container">
        <h1>Bem vindo ao RIUPP</h1>
        <h2>Se não queres ir a recurso, usa o RIUPP</h2>
        <a href="#about" class="btn-get-started">Vem conhecer</a>
    </div>
</section><!-- #hero -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div style="text-align:center">
            <div style="margin-left: 33%">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Algumas coisas sobre nós</h2>
                    <p>
                        O RIUPP é um projecto criado por alunos de engenharia informática do Instituto Politécnico de Tomar (IPT) que tem como objetivo ajudar a fornecer trabalhos "ideia" que possam ser reutilizados e reaproveitados por outros estudantes da mesma área ou mesmo de outras para conhecimento académico.
                        Hoje em dia o estudante dá a entender que não gosta tanto de ler um livro para aprender e muitas vezes prefere seguir projectos e tentar replicar por si mesmo. Se RIUPP for uma plataforma que disponibiliza esses mesmos projectos feitos por outros alunos com todo o processo de implementação, podemos assim
                        possibilitar que vários outros, peguem no projecto e consigam não só aprender o que foi feito por estes, mas também melhorar projectos académicos disponiveis na plataforma.
                    </p>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">O que somos</a></h4>
                        <p class="description">Somos uma organização sem fins lucrativos apenas ao dispor do estudante. E como tal o RIUPP trata-se também ele de um projecto a melhorar no futuro, se possivel, por estudantes académicos com interesse no desenvolvimento do mesmo.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">A nossa visão</a></h4>
                        <p class="description">Temos uma visão cooperativa do futuro, onde projectos são realizados por um conjunto de pessoas e colaboradores e não apenas por um único individuo. </p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">O nosso objectivo</a></h4>
                        <p class="description">O nosso objectivo é ser a plataforma lider no que diz respeito a oferecer aos estudantes uma vasta lista de ideias de trabalho e conteudo, para que, no mundo de hoje em que o plágio é altissimo, os estudantes possam reaproveitar trabalho de outrém sem qualquer problema.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
        <div class="section-header">
            <h3 class="section-title">Factos</h3>
            <p class="section-description"> Atualmente RIUPP mesmo sendo uma criança, já conta com</p>
        </div>
        <div style="margin-left: 43%">
            <div class="row counters">
                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Count()</span>
                    <p>Projectos</p>
                </div>
            </div>

        </div>
    </section><!-- #facts -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Serviços</h3>
                <p class="section-description">Disponibilizamos os seguintes serviços para os nossos clientes e colaboradores</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                        <h4 class="title"><a asp-area="" asp-controller="Areas" asp-action="">Areas</a></h4>
                        <p class="description">Acesso às áreas de estudo onde podem pesquisar de forma mais geral o que procuram</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                        <h4 class="title"><a asp-area="" asp-controller="Ficheiros" asp-action="">Ficheiros</a></h4>
                        <p class="description">Dentro de cada área é possivel visualizar a lista de ficheiros com todos os trabalhos associados a esta</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                        <h4 class="title"><a asp-area="" asp-controller="Utilizadores" asp-action="">Utilizadores</a></h4>
                        <p class="description">Ter conhecimento de cada utilizador para de certa forma indirectamente dar algum destaque aos nossos principais colaboradores</p>
                    </div>
                </div>
                </div>
            </div>
    </section><!-- #services -->
    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div>
            <div class="section-header">
                <h3 class="section-title">Equipa</h3>
                <p class="section-description">A nossa equipa atualmente é formada pelos seguintes colaboradores</p>
            </div>
            <div class="row" style="margin-left: 33%">

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/verissimo.jpg" alt=""></div>
                        <h4>João Veríssimo</h4>
                        <span>Developer</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/joao.andre.5099"><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.linkedin.com/in/jo%C3%A3o-ver%C3%ADssimo-183b011a5/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/afonso.jpg" alt=""></div>
                        <h4>Afonso Seguro</h4>
                        <span>Developer</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contactos</h3>
                <p class="section-description">Ainda sendo estudantes atualmente a nossa localização fisica é no nosso local de trabalho</p>
            </div>
        </div>

        <!-- Uncomment below if you wan to use dynamic maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!4v1594137468824!6m8!1m7!1s1jvaYf5kb6jfBt7287PD1A!2m2!1d39.60040135154208!2d-8.390457536219092!3f219.28128766123368!4f8.413384575542096!5f0.4000000000000002" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Av. Dr. Aurélio Ribeiro 3<br>Tomar</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+1 5589 55488 55s</p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>
