
    <div class="container">
        <br /><br /><br /><br /><br />
        <div style="margin-left:auto; margin-right:auto">
            <h1 class="display-1">A sua conta está suspensa</h1>
            <br />
            <h1 class="display-8">Contacte um administrador do site para reactivar a sua conta</h1>
        </div>
    </div>