@model RIUPP.Models.Comentario

@{
    ViewData["Title"] = "Create";
}
    <div class="container">
        <br /><br /><br /><br /><br />
        <h1>Create</h1>

        <h4>Comentario</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Coment" class="control-label"></label>
                        <input asp-for="Coment" class="form-control" />
                        <span asp-validation-for="Coment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Visivel" class="control-label"></label>
                        <input asp-for="Visivel" class="form-control" />
                        <span asp-validation-for="Visivel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QuemComentou" class="control-label"></label>
                        <select asp-for="QuemComentou" class="form-control" asp-items="ViewBag.QuemComentou"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="FicheiroFK" class="control-label"></label>
                        <select asp-for="FicheiroFK" class="form-control" asp-items="ViewBag.FicheiroFK"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    