@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container">
    <header>
        <br /><br /><br /><br /><br />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Não tens acesso a este recurso</p>
    </header>
</div>
